body {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    height: 100%; 
    background-size: cover;
}

main {
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20rem;
    width: 100%;
}

/* container */
form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: .25rem 0;
}

input,
textarea {
    outline: none;
    border: none;
    color: var(--bg);
    background-color: var(--text);
    font: 500 16px 'Roboto', sans-serif;
    border-radius: .5rem;
    width: calc(100% - 1rem);
    padding: 0 .5rem;
}

label {
    font-size: 14px;
    padding-left: .5rem;
}

input {
    height: 2.25rem;
}

textarea {
    height: 6rem;
}

button {
    border-radius: .5rem;
    width: 100%;
    height: 2.25rem;
    margin-top: .5rem;
}
